#header h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#options {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#gridCanvas {
    display: grid;
}

.gridBoxElement {
    border: 1px solid black;
    padding: 10px;
}

.gridBoxElement:hover {
    background-color: grey;
}

.gridBoxElementPainted {
    padding: 10px;
    background-color: black;

}