.header h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.buttons {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px;
}

.options {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-bottom: 10px;
}

#gridCanvas {
    display: grid;
}

.gridBoxElement {
    border: 1px solid black;
    padding: 10px;
}

.gridBoxElement:hover {
    background-color: grey;
}

.gridBoxElementBlack {
    padding: 10px;
    background-color: black;

}